
  h1{font-family: fantasy;}
  p{font-family:monospace;}
  li {
    font-size:1.5em;
  }
  .tedy{
    background-color: #ff0000;
  }
  .ted{
    text-decoration: line-through;
  }
  .tedy2{
    border:10px dashed black;
    padding: 5 px;
    margin: 5px;
    color: rgb(160, 57, 17);
    width :200px;
    height: 50px;
    float: right;
  }
    .tedy1{
    border: 5px dashed red;
    padding: 2 px;
    margin: 5px;
    color: rgb(2, 35, 35);
    width:  50px;
    height: 30px;
    float: right;

  }
